main.category-main-page {
	display: flex;
	min-height: 100vh;

	background: var(--bg);
}

.category-main-page aside {
	max-width: 25%;
	background: var(--primary);
	padding: 1rem;
}

.category-main-page section {
	display: flex;
	flex-direction: column;
	width: 100%;
}