main {
	display: flex;
	min-height: 100vh;

	background: var(--bg);
}

aside {
	max-width: 25%;
	background: var(--primary);
	padding: 1rem;
}

section {
	display: flex;
	flex-direction: column;
	width: 100%;
}